body {
    background-image: url("./pics/annie-spratt-89769-unsplash-xxxxlarge_2000.jpg");
    background-color: #cccccc;
    background-size: auto;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    background-color: #fff;
    opacity: 0.9;
}

.margin-bttm {
    margin-bottom: 8px;
}