body {
    background-image: url("./pics/annie-spratt-89769-unsplash-xxxxlarge_2000.jpg");
    background-color: #cccccc;
    background-size: auto;
}
.container {
    background-color: #fff;
    opacity: 0.9;
}

