
html, body {
    background-image: url('./pics/tim-mossholder-244857-unsplash-8xlarge_2800.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

hr {
    size: 5px;
}
.container {
    background-color: #fff;
    border-radius: 25px;
}

.map-container {
    opacity: 1.0;
}

.margin-bttm {
    margin-bottom: 8px;
}

.map-margins {
    margin-bottom: 0px;
    margin-top: 20px;
}

.solid {
    opacity: 1.0;
}

.rcorners1 {

   border-radius: 25px;
}