{% extends "base.html" %}

{% block app_content %}
    <h1>{{current_user.username}}'s {{garden.name}} Garden</h1>
    <p> {{garden.name}}</p>
    <p> {{garden.id}}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.plant.label }}<br>
            {{ form.plant(class="form-control") }}<br>
            {% for error in form.plant.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-default") }}</p>
    </form>
    <h4>What's growing in {{current_user.username}}'s {{garden.name}} garden.</h4>
    {% for plant in plants %}
    <p>
    {{ plant.name }}
    </p>
    {% endfor %}
{% endblock %}




